{% extends 'Layout.html.twig' %}
{% block content %}
    <ol>
        {% for user in users %}
            <li>
                {{ user.id }} - {{ user.first_name }} {{ user.last_name }}
            </li>
        {% endfor %}
    </ol>
{% endblock %}